.TodoList {
    height: 40%;
    overflow-y: auto;
    padding: 0 2rem;
    width: 100vw;
}

@media (min-width: 900px) {
    .TodoList {
        height: 40%;
        overflow-y: auto;
        padding: 0 2rem;
        width: 33vw;
    }
}