@import-normalize; /* bring in normalize.css styles */

:root {
  --main-font: 'Poppins', sans-serif;
  --main-font-color: #272727;
  --heading-color: #77B255;
  --heading-font: 'Oswald', sans-serif;
  --accent-color: #00A3FF;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0px;
  background: #E3DAC9;
}

body {
  background-color: #D1EFFF;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen-reader-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}